<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.user.service.dao.impl.PmsUserDaoImpl">

	<!-- 产品信息表 -->
	<sql id="pms_User"> USERS </sql>
	
	<select id="validationPhone" resultType="int">
		SELECT COUNT(1)
			FROM 
			<include refid="pms_User" /> u
			<where>
				<if test="telephone != null and telephone != ''">
					u.TELEPHONE = #{telephone}
				</if>
				<if test="loginName != null and loginName != ''">
					AND u.LOGINNAME = #{loginName}
				</if>
			</where>
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="PmsUser">
			INSERT INTO 
			<include refid="pms_User" />
			(
				USERNAME,
				TELEPHONE,
				PASSWORD,
				EMAIL,
				BIRTHDAY,
				IMGURL,
				SEX,
				REALNAME,
				QQ,
				USERCOMPANY,
				NOTE,
				CUSTOMERSOURCE,
				WECHAT,
				KINDLY_SEND,
				FOLLOW_TIME,
				UPDATE_TIME,
				REFERRERID,
				OFFICIALSITE,
				POSITION,
				CUSTOMERTYPE,
				PURCHASEFREQUENCY,
				PURCHASEPRICE,
				CUSTOMERSIZE,
				ENDORSE
		<if test="clientLevel != null">
			,CLIENTLEVEL
		</if>
		<if test="preference != null">
			,PREFERENCE
		</if>
			) VALUES(
				#{userName},
				#{telephone},
				#{password},
				#{email},
				DATE_FORMAT(#{birthday},'%Y-%m-%d'),
				#{imgUrl},
				${sex},
				#{realName},
				#{qq},
				#{userCompany},
				#{note},
				#{customerSource},
				#{weChat},
				#{kindlySend},
				#{followTime},
				CURRENT_TIMESTAMP,
				#{referrerId},
				#{officialSite},
				#{position},
				#{customerType},
				#{purchaseFrequency},
				#{purchasePrice},
				#{customerSize},
				#{endorse}
		<if test="clientLevel != null">
			,${clientLevel}
		</if>
		<if test="preference != null">
			,${preference}
		</if>
			)
	</insert>
	
	<select id="verificationUserExistByThirdLogin" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.USERNAME AS userName,
			   u.TELEPHONE AS telephone,
			   u.EMAIL AS email,
			   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
			   u.REALNAME AS realName,
			   u.USERCOMPANY AS userCompany,
			   u.LOGINNAME AS loginName,
			   u.CUSTOMERSOURCE AS customerSource,
			   u.PREFERENCE AS preference,
			   u.KINDLY_SEND AS kindly_send,
			   u.IMGURL AS imgUrl,
			   u.SEX AS sex,
			   u.QQ AS qq,
			   u.QQUNIQUE AS qqUnique,
	  			   u.WBUNIQUE AS wbUnique,
	  			   u.WECHATUNIQUE AS wechatUnique,
			   u.REALNAME AS realName,
			   u.CLIENTLEVEL AS clientLevel
		FROM 
		<include refid="pms_User" /> u
		<where>
			QQUNIQUE = #{uniqueId}
		   OR WBUNIQUE = #{uniqueId}
		   OR WECHATUNIQUE = #{uniqueId}
		</where>
	</select>
	
	<select id="findUserById" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.USERNAME AS userName,
			   u.PASSWORD AS password,
			   u.TELEPHONE AS telephone,
			   u.EMAIL AS email,
			   u.IMGURL AS imgUrl,
			   u.SEX AS sex,
			   u.QQ AS qq,
			   u.PREFERENCE AS preference,
			   u.KINDLY_SEND AS kindly_send,
			   u.WECHAT AS weChat,
			   u.REALNAME as realName,
			   u.USERCOMPANY AS userCompany,
			   u.CLIENTLEVEL AS clientLevel,
			   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
			   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate,
			   u.LOGINNAME AS loginName,
			   u.CUSTOMERSOURCE AS customerSource,
			   u.QQUNIQUE AS qqUnique,
			   u.WBUNIQUE AS wbUnique,
			   u.WECHATUNIQUE AS wechatUnique,
			   u.REFERRERID AS referrerId,
			   u.OFFICIALSITE AS officialSite,
			   u.POSITION AS position,
			   u.CUSTOMERTYPE AS customerType,
			   u.PURCHASEFREQUENCY AS purchaseFrequency,
			   u.PURCHASEPRICE AS purchasePrice,
			   u.CUSTOMERSIZE AS customerSize,
			   u.ENDORSE AS endorse,
			   u.note AS note
		FROM 
		<include refid="pms_User" />  u
		<where>
			u.ID = ${_parameter}
		</where>
	</select>
	
	<update id="update">
		UPDATE <include refid="pms_User" />
		<set>
			USERNAME = #{userName},
		   	TELEPHONE = #{telephone},
		  	EMAIL = #{email},
			<if test="birthday != null and birthday != ''">
				BIRTHDAY = DATE_FORMAT(#{birthday},'%Y-%m-%d'),
			</if>
			<if test="clientLevel != null">
				CLIENTLEVEL = ${clientLevel},
			</if>
			<if test="clientLevel == -1">
				CLIENTLEVEL = NULL,
			</if>
			<if test="qqUnique != null and qqUnique != ''">
				QQUNIQUE = #{qqUnique},
			</if>
			<if test="wbUnique != null and wbUnique != ''">
				WBUNIQUE = #{wbUnique},
			</if>
			<if test="wechatUnique != null and wechatUnique != ''">
				WECHATUNIQUE = #{wechatUnique},
			</if>
			<if test="preference != null">
				PREFERENCE = ${preference},
			</if>
			<if test="followTime != null and followTime != ''">
				FOLLOW_TIME = DATE_FORMAT(#{followTime},'%Y-%m-%d'),
			</if>
			<if test="updateTime != null and updateTime != ''">
				UPDATE_TIME = CURRENT_TIMESTAMP,
			</if>
			<if test="customerSource != null">
				CUSTOMERSOURCE = ${customerSource},
			</if>
			<if test="kindlySend != null">
				KINDLY_SEND = #{kindlySend},
			</if>
			<if test="referrerId != null">
				REFERRERID = #{referrerId},
			</if>
			<if test="officialSite != null">
				OFFICIALSITE = #{officialSite},
			</if>
			<if test="position != null">
				POSITION = #{position},
			</if>
			<if test="customerType != null">
				CUSTOMERTYPE = #{customerType},
			</if>
			<if test="purchaseFrequency != null">
				PURCHASEFREQUENCY = #{purchaseFrequency},
			</if>
			<if test="purchasePrice != null">
				PURCHASEPRICE = #{purchasePrice},
			</if>
			<if test="customerSize != null">
				CUSTOMERSIZE = #{customerSize},
			</if>
			<if test="endorse != null">
				ENDORSE = #{endorse},
			</if>
			   IMGURL = #{imgUrl},
			   SEX = ${sex},
			   REALNAME = #{realName},
			   QQ = #{qq},
			   WECHAT = #{weChat},
			   USERCOMPANY = #{userCompany},
			   NOTE = #{note}
	   </set>
	   <where>
	   	ID = #{id}
	   </where>
	</update>
	<select id="findUserByPhone" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.ID AS userId,
			   u.USERNAME AS userName,
			   u.PASSWORD AS PASSWORD,
			   u.TELEPHONE AS telephone,
			   u.EMAIL AS email,
			   u.IMGURL AS imgUrl,
			   u.LOGINNAME AS loginName,
			   u.CUSTOMERSOURCE AS customerSource,
			   u.PREFERENCE AS preference,
			   u.KINDLY_SEND AS kindly_send,
			   u.SEX AS sex,
			   u.QQ AS qq,
			   u.QQUNIQUE AS qqUnique,
			   u.WBUNIQUE AS wbUnique,
			   u.WECHATUNIQUE AS wechatUnique,
			   u.REALNAME AS realName,
			   u.USERCOMPANY AS userCompany,
			   u.CLIENTLEVEL AS clientLevel,
			   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
			   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
		FROM 
		<include refid="pms_User" /> u
		<where>
			u.TELEPHONE=#{telephone}
		</where>
	</select>
	<insert id="saveByThirdLogin" useGeneratedKeys="true"
		keyProperty="id" parameterType="PmsUser">
			INSERT INTO 
			<include refid="pms_User" />
			(
				USERNAME,
				IMGURL,
				PASSWORD,
				TELEPHONE,
				QQUNIQUE,
				WBUNIQUE,
				WECHATUNIQUE
			) VALUES(
				#{userName},
				#{imgUrl},
				#{password},
				#{telephone},
				#{qqUnique},
				#{wbUnique},
				#{wechatUnique}
			)
	</insert>
	<select id="findUserByAttr" resultType="PmsUser">
		   SELECT u.ID AS id,
		   u.USERNAME AS userName,
		   u.PASSWORD AS PASSWORD,
		   u.TELEPHONE AS telephone,
		   u.EMAIL AS email,
		   u.BIRTHDAY AS birthday,
		   u.IMGURL AS imgUrl,
		   u.SEX AS sex,
		   u.QQ AS qq,
		   u.QQUNIQUE AS qqUnique,
		   u.WBUNIQUE AS wbUnique,
		   u.WECHATUNIQUE AS wechatUnique,
		   u.REALNAME AS realName,
		   u.USERCOMPANY AS userCompany,
		   u.CLIENTLEVEL AS clientLevel,
		   u.CUSTOMERSOURCE AS customerSource, 
		   u.KINDLY_SEND AS  kindlySend,
		   u.LOGINNAME AS loginName
		   FROM 
			<include refid="pms_User" /> u
			<where>
				<if test="telephone != null and telephone != ''">
					u.TELEPHONE = #{telephone}
				</if>
			</where>
	</select>
	<delete id="delete">
		DELETE FROM 
		<include refid="pms_User" />
		<where>
			ID = ${_parameter}
		</where>
	</delete>
		
	<update id="modifyUserPassword">
		UPDATE 
		<include refid="pms_User" />
		<set>
			PASSWORD = #{password},
			UPDATE_TIME = CURRENT_TIMESTAMP
		</set>
		<where>
			id = #{id}
		</where>		
	</update>
	<update id="modifyUserLoginName">
		UPDATE
		<include refid="pms_User" />
		<set>
			PASSWORD  = #{password},
			loginName = #{loginName} 
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<select id="findUserByLoginNameAndPwd" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.ID AS userId,
			   u.USERNAME AS userName,
			   u.PASSWORD AS PASSWORD,
			   u.TELEPHONE AS telephone,
			   u.LOGINNAME as loginName,
			   u.EMAIL AS email,
			   u.IMGURL AS imgUrl,
			   u.SEX AS sex,
			   u.QQ AS qq,
			   u.QQUNIQUE AS qqUnique,
			   u.WBUNIQUE AS wbUnique,
			   u.WECHATUNIQUE AS wechatUnique,
			   u.REALNAME AS realName,
			   u.USERCOMPANY AS userCompany,
			   u.CLIENTLEVEL AS clientLevel,
			   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
			   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
		FROM 
		<include refid="pms_User" /> u 
		<where>
			u.LOGINNAME=#{loginName}
            AND u.PASSWORD=#{password}
		</where>
	</select>
	<select id="findUserByUserName" resultType="PmsUser">
		SELECT ID FROM 
		<include refid="pms_User" /> 
		<where>
			USERNAME = #{userName} 
		</where>
	</select>
	<update id="modifyUserInfo">
			UPDATE 
			<include refid="pms_User" /> 
			<set>
				USERNAME = #{userName},
				SEX = ${sex},
				REALNAME = #{realName},
				email = #{email},
				qq = #{qq},
				WECHAT = #{weChat},
				UPDATE_TIME = CURRENT_TIMESTAMP,
				USERCOMPANY = #{userCompany},
				CUSTOMERSOURCE = ${customerSource},
				IMGURL = #{imgUrl}
			</set>
			<where>
				id = #{id}
			</where>		
	</update>
	<update id="modifyUserPhoto">
		UPDATE
		<include refid="pms_User" /> 
		<set>
			IMGURL = #{imgUrl},
			UPDATE_TIME = CURRENT_TIMESTAMP
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<update id="modifyUserPhone">
		UPDATE
		<include refid="pms_User" /> 
		<set>
			TELEPHONE = #{telephone},
			UPDATE_TIME = CURRENT_TIMESTAMP
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	<select id="listPage" resultType="PmsUser" >
		SELECT u.ID AS id,
		   u.USERNAME AS userName,
		   u.PASSWORD AS password,
		   u.TELEPHONE AS telephone,
		   u.EMAIL AS email,
		   u.IMGURL AS imgUrl,
		   u.SEX AS sex,
		   u.QQ AS qq,
		   u.REALNAME as realName,
		   u.USERCOMPANY AS userCompany,
		   u.CLIENTLEVEL AS clientLevel,
		   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
		   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate,
		   NOTE AS note,
		   u.CUSTOMERSOURCE AS customerSource,
		   u.WECHAT AS weChat,
		   u.KINDLY_SEND AS kindlySend,
		   u.PREFERENCE AS preference,
		   DATE_FORMAT(u.UPDATE_TIME,'%Y-%m-%d %T') AS updateTime,
		   DATE_FORMAT(u.FOLLOW_TIME,'%Y-%m-%d') AS followTime,
		   u.REFERRERID AS referrerId,
		   u.OFFICIALSITE AS officialSite,
		   u.POSITION AS position,
		   u.CUSTOMERTYPE AS customerType,
		   u.PURCHASEFREQUENCY AS purchaseFrequency,
		   u.PURCHASEPRICE AS purchasePrice,
		   u.CUSTOMERSIZE AS customerSize,
		   u.ENDORSE AS endorse
		FROM <include refid="pms_User" />  u
		<where>
			<if test="userName != null and userName != ''">
				u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
			</if>
			<if test="realName != null  and realName != ''">
				<![CDATA[
					AND u.REALNAME LIKE CONCAT(CONCAT('%',#{realName}),'%')
				]]>
			</if>
			<if test="userCompany != null  and userCompany != ''">
				<![CDATA[
					AND u.USERCOMPANY LIKE CONCAT(CONCAT('%',#{userCompany}),'%')
				]]>
			</if>
			<if test="telephone != null and telephone != ''">
				AND u.TELEPHONE LIKE CONCAT(CONCAT('%',#{telephone}),'%')
			</if>
			<if test="officialSite != null ">
				<![CDATA[
					AND u.OFFICIALSITE LIKE CONCAT(CONCAT('%',#{officialSite}),'%')
				]]>
			</if>
			<if test="customerType != null">
				<![CDATA[
					AND u.CUSTOMERTYPE = #{customerType}
				]]>
			</if>
			<if test="purchaseFrequency != null">
				<![CDATA[
					AND u.PURCHASEFREQUENCY = #{purchaseFrequency}
				]]>
			</if>
			<if test="purchasePrice != null">
				<![CDATA[
					AND u.PURCHASEPRICE = #{purchasePrice}
				]]>
			</if>
			<if test="customerSize != null">
				<![CDATA[
					AND u.CUSTOMERSIZE = #{customerSize}
				]]>
			</if>
			<if test="endorse != null">
				<![CDATA[
					AND u.ENDORSE = #{endorse}
				]]>
			</if>
			<if test="customerType != null">
				<![CDATA[
					AND u.CUSTOMERTYPE = #{customerType}
				]]>
			</if>
			<choose>
				<when test="clientLevel == null">
					AND u.clientLevel IS NULL
				</when>
				<when test="clientLevel != null and clientLevel != -1">
					AND u.clientLevel = ${clientLevel}
				</when>
			</choose>
		</where>	
		ORDER BY
		<if test="sort != null and sort != '' and order != null and order != ''">
			${sort} ${order},
		</if>
			CREATEDATE,ID DESC
			LIMIT ${begin} , ${limit}
	</select>
	
	<select id="listPageCount" resultType="long">
			SELECT COUNT(1) 
			FROM 
			<include refid="pms_User" /> u
			<where>
				<if test="userName != null and userName != ''">
				u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
				</if>
				<if test="realName != null  and realName != ''">
					<![CDATA[
						AND u.REALNAME LIKE CONCAT(CONCAT('%',#{realName}),'%')
					]]>
				</if>
				<if test="userCompany != null  and userCompany != ''">
					<![CDATA[
						AND u.USERCOMPANY LIKE CONCAT(CONCAT('%',#{userCompany}),'%')
					]]>
				</if>
				<if test="telephone != null and telephone != ''">
					AND u.TELEPHONE LIKE CONCAT(CONCAT('%',#{telephone}),'%')
				</if>
				<if test="officialSite != null ">
					<![CDATA[
						AND u.OFFICIALSITE LIKE CONCAT(CONCAT('%',#{officialSite}),'%')
					]]>
				</if>
				<if test="customerType != null">
					<![CDATA[
						AND u.CUSTOMERTYPE = #{customerType}
					]]>
				</if>
				<if test="purchaseFrequency != null">
					<![CDATA[
						AND u.PURCHASEFREQUENCY = #{purchaseFrequency}
					]]>
				</if>
				<if test="purchasePrice != null">
					<![CDATA[
						AND u.PURCHASEPRICE = #{purchasePrice}
					]]>
				</if>
				<if test="customerSize != null">
					<![CDATA[
						AND u.CUSTOMERSIZE = #{customerSize}
					]]>
				</if>
				<if test="endorse != null">
					<![CDATA[
						AND u.ENDORSE = #{endorse}
					]]>
				</if>
				<if test="customerType != null">
					<![CDATA[
						AND u.CUSTOMERTYPE = #{customerType}
					]]>
				</if>
				<choose>
					<when test="clientLevel == null">
						AND u.clientLevel IS NULL
					</when>
		
					<when test="clientLevel != null and clientLevel != -1">
						AND u.clientLevel = ${clientLevel}
					</when>
				</choose>
			</where>	
	</select>
	<update id="unBindThird">
		UPDATE 
		<include refid="pms_User" />
		<set>
			<if test="lType=='qq'">
				QQUNIQUE =''
			</if>
			<if test="lType=='wb'">
				WBUNIQUE =''
			</if>
	
			<if test="lType=='wechat'">
				WECHATUNIQUE =''
			</if>
		</set>
		<where>
			ID = #{id}
		</where>
	</update>
	
	<select id="all" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.ID AS userId,
			   u.USERNAME AS userName,
			   u.PASSWORD AS password,
			   u.TELEPHONE AS telephone,
			   u.EMAIL AS email,
			   u.IMGURL AS imgUrl,
			   u.SEX AS sex,
			   u.QQ AS qq,
			   u.REALNAME AS realName,
			   u.USERCOMPANY AS userCompany,
			   u.CLIENTLEVEL AS clientLevel,
			   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
			   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate,
			   u.REFERRERID AS referrerId,
			   u.OFFICIALSITE AS officialSite,
			   u.POSITION AS position,
			   u.CUSTOMERTYPE AS customerType,
			   u.PURCHASEFREQUENCY AS purchaseFrequency,
			   u.PURCHASEPRICE AS purchasePrice,
			   u.CUSTOMERSIZE AS customerSize
		FROM 
		<include refid="pms_User" /> u
		ORDER BY CREATEDATE,ID DESC
	</select>
	
	<select id="getDroplist" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.ID AS userId,
			   u.USERNAME AS userName
		FROM 
		<include refid="pms_User" /> u
		ORDER BY CREATEDATE,ID DESC
	</select>
	
	<select id="findUserByNameOrRealName" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.USERNAME AS userName,
			   u.TELEPHONE AS telephone,
			   u.REALNAME as realName,
			   u.USERCOMPANY AS userCompany
		FROM 
		<include refid="pms_User" />  u
		<where>
			<if test="userName != null and userName != ''">
				u.USERNAME LIKE CONCAT('%',#{userName},'%')
			</if>
			<if test="realName != null and realName != ''">
				AND u.REALNAME LIKE CONCAT('%',#{realName},'%')
			</if>
			<if test="(userName == null or userName == '') and (realName == null or realName == '') ">
				AND 1=2
			</if>
		</where>
	</select>
	<select id="findUserByIds" resultType="PmsUser">
		SELECT u.ID AS id,
			   u.USERNAME AS userName,
			   u.TELEPHONE AS telephone,
			   u.REALNAME as realName,
			   u.USERCOMPANY AS userCompany
		FROM 
		<include refid="pms_User" />  u
		<where>
			u.ID IN 
			<foreach collection="array" open="(" close=")" item="item"
					separator=",">
					#{item}
			</foreach>	
		</where>
	</select>
	<select id="findUnlevelUsers" resultType="Long">
		SELECT COUNT(1)
			FROM
			<include refid="pms_User" />
			<where>
				NOTE = ''
				AND CLIENTLEVEL IS NULL
			</where>
	</select>
</mapper>